<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta charset="UTF-8">
    <title>Fire-info</title>

    <!-- iOS -->
    <link rel="apple-touch-icon"                       href="{{ url_for('static', filename='images/icon-96.png') }}">
    <link rel="apple-touch-startup-image" href="/static/images/icon-512.png">
    <meta name="apple-mobile-web-app-capable"          content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection"                      content="telephone=no">
</head>
<body>
    <script src="/static/js/app.js"></script>
    <h2> Fire Info</h2>
    <p>Prueba</p>
</body>
</html>